<div id="page-container" class="sidebar-o side-scroll page-header-modern main-content-boxed">
  <!-- Side Overlay-->
  <aside id="side-overlay">
    <!-- Side Overlay Scroll Container -->
    <div id="side-overlay-scroll">
    </div>
  </aside>
  <!-- END Side Overlay -->

  <!-- Sidebar -->
  <nav id="sidebar">
    <!-- Sidebar Scroll Container -->
    <div id="sidebar-scroll">
      <!-- Sidebar Content -->
      <div class="sidebar-content">
        <!-- Side Header -->
        <div class="content-header content-header-fullrow px-15">
          <!-- Mini Mode -->
          <div class="content-header-section sidebar-mini-visible-b">
            <!-- Logo -->
            <span class="content-header-item font-w700 font-size-xl float-left animated fadeIn">
              <span class="text-dual-primary-dark">c</span><span class="text-primary">b</span>
            </span>
            <!-- END Logo -->
          </div>
          <!-- END Mini Mode -->

          <!-- Normal Mode -->
          <div class="content-header-section text-center align-parent sidebar-mini-hidden">
            <!-- Close Sidebar, Visible only on mobile screens -->
            <!-- Layout API, functionality initialized in Codebase() -> uiApiLayout() -->
            <button type="button" class="btn btn-circle btn-dual-secondary d-lg-none align-v-r" data-toggle="layout" data-action="sidebar_close">
              <i class="fa fa-times text-danger"></i>
            </button>
            <!-- END Close Sidebar -->

            <!-- Logo -->
            <div class="content-header-item">
              <a href="dashboard.html">
                <img src="assets/img/logo.png" style="width: 80px;">
              </a>
            </div>
            <!-- END Logo -->
          </div>
          <!-- END Normal Mode -->
        </div>
        <!-- END Side Header -->

        <!-- Side User -->


        <!-- Side Navigation -->
        <div class="content-side content-side-full">
          <ul class="nav-main">
            <li>
              <a href="dashboard.html"><i class="si si-cup"></i><span class="sidebar-mini-hide">Dashboard</span></a>
            </li>
            <li class="nav-main-heading"><span class="sidebar-mini-visible">UI</span><span class="sidebar-mini-hidden">Catalog</span></li>
            <li>
              <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-tag"></i><span class="sidebar-mini-hide">Categories</span></a>
              <ul>
                <li>
                  <a href="categories/groups.html">Groups</a>
                </li>
                <li>
                  <a href="categories/sub-groups.html">Sub-groups</a>
                </li>
                <li>
                  <a href="categories.html">All Categories</a>
                </li>

              </ul>
            </li>
            <li>
              <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-layers"></i><span class="sidebar-mini-hide">Products</span></a>
              <ul>
                <li>
                  <a href="products/products.html">Manage Products</a>
                </li>
                <li>
                  <a href="products/add-products.html">Add New Products</a>
                </li>

              </ul>
            </li>
            <li class="nav-main-heading"><span class="sidebar-mini-visible">Users</span><span class="sidebar-mini-hidden">Users</span></li>

            <li>
              <a href="users.html">
                <i class="si si-people"></i>
                <span class="sidebar-mini-hide">Users</span>
              </a>
            </li>

            <li class="nav-main-heading"><span class="sidebar-mini-visible">Vendors</span><span class="sidebar-mini-hidden">Vendors</span></li>

            <li>
              <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-bag"></i><span class="sidebar-mini-hide">Vendors</span></a>
              <ul>
                <li>
                  <a href="vendors/merchants.html">Merchant</a>
                </li>
                <li>
                  <a href="vendors/shops.html">Shops</a>
                </li>
              </ul>
            </li>

            <li class="nav-main-heading"><span class="sidebar-mini-visible">UI</span><span class="sidebar-mini-hidden">Customers</span></li>

            <li>
              <a href="customers.html"><i class="si si-wallet"></i><span class="sidebar-mini-hide">Customers</span></a>
            </li>

            <li>
              <a href="orders.html">
                <i class="si si-basket-loaded"></i>
                <span class="sidebar-mini-hide">Orders</span>
              </a>
            </li>

            <li class="nav-main-heading">
              <span class="sidebar-mini-visible">System</span><span class="sidebar-mini-hidden">System</span>
            </li>
            <li>
              <a href="system/settings.html"><i class="si si-settings"></i><span class="sidebar-mini-hide">Settings</span></a>
            </li>
          </ul>
        </div>
        <!-- END Side Navigation -->
      </div>
      <!-- Sidebar Content -->
    </div>
    <!-- END Sidebar Scroll Container -->
  </nav>
<!-- END Sidebar -->